.main-body-container {
    background-color: white;
    width: 100%;
    margin: 0;
}

p{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 200;
}

a{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 200;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.carousel {
    margin-bottom: 4rem;
    height: 110vh;
}


.carousel-caption {
    bottom: 3rem;
    z-index: 5;
    width: 50%;
}

.carousel-caption h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.carousel-item {
    height: 45rem;
}

.cont {
    width: 10px;
}

.carousel-inner {
    height: 100vh;
}

.bd-1-img {
    background-attachment: fixed;
    background-image: url("./../images/bannerImg/2.png");
    background-size: cover;
    height: 100vh;
}

.bd-2-img {
    background-attachment: fixed;
    background-image: url("./../images/bannerImg/3.png");
    background-size: cover;
    height: 100vh;

}

.operations-container {
    position: relative;
    height: 400px;
}

.operations-pic {
    background-image: url("./../images/allgo-an-app-for-plus-size-people-1GEsAeUv5dU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
    bottom: 220px;
    width: 50%;
    background-color:#2b2d42;
    height: 100vh;
}

.operations-text{
    width: 30%;
}

.operations-text p {
    font-weight: 300;
}

.operations-h1{
    font-family: 'Nunito', sans-serif;
}


.what-we-offer {
    padding: 2rem;
    background-color: #edf2f4;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.card-container {
    background-color: #edf2f4;
    color: #2b2d42;
    width: 100%;
    /* padding: 30px 100px 100px 100px; */
}

.cards {
    background-color: white;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 40%;
    padding: 0 30px;
    margin: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.card-header {
    font-family: 'Nunito', sans-serif;
    background-color: #edf2f4;
    font-size: 70px;
    margin-top: 130px;
    text-align: center;
}

.cards h3 {
    color: #d90429;
}

.card-image {
    width: 150px;
    height: 150px;
    background-color:#2b2d42;
    border-radius: 50%;
    margin: 50px;
}

.btn.btn-lg.btn-primary {
    text-transform: uppercase;
    border-radius: 0;
    background-color: rgb(163, 20, 20);
    border: none;
}

.row.featurette {
    color: #edf2f4;
    background-color: #8d99ae;
    padding: 150px 150px 10px 150px;
    margin: 0;
}


.material-symbols-outlined {
    color: white;
    font-size: 200px;
}

.projects {
    font-size: 70px;
}


.team-container {
    width: 100%;
    padding: 49px;
    margin-top: 50px;
}

.teams {
    margin: 20px;
    width: 60%;
    height: 350px;
}
.team {
    height: 320px;
}

.team-pic {
    width: 200px;
    background-color: #2b2d42;
    height: 200px;
}

.team-media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 26%;
    gap: 2rem;


    overflow-x: auto;
    overscroll-behavior-inline: contain;
}


.team-header-container {
    padding: 0 50px;
    width: 50%;
    height: 380px;
    background-color: white;
}

.team-text h5 {
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}

.team-header-container h1 {
    font-family: 'Nunito', sans-serif;   
}


.fixed-background {
    background-image: url("./../images/krakenimages-376KN_ISplE-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-color: #2b2d42;
}