.main-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
}


.navbar.navbar-expand-lg {
    padding: 25px;
    border-bottom: 1px solid rgba(163, 158, 158, 0.212);
    background: white;
    /* background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(10px); */
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

.nav-item {
    text-align: center;
    font-size: 20px;
    width: 120px;
    border-radius: 3px;
}

.nav-link.activ {
    color: white;
}

.nav-item.active {
    background-color: #d90429;
}

.top-nav {
    background-color: white;
    height: 30px;
    padding: 0 100px;
}

.top-navv {
    display: flex;
    padding: 40px;
}


@media screen and (max-width: 767px) {
    .main-nav {
        position: static;
    }

    .top-nav {
        display: none;
    }


}
